@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
:root {
  --gray: #7d7d7d;
  --blue-dark: #0b1120;
  --blue-light: #273b47;
  --green: #85b336;
  --yellow: #f8cc32;
  --green-transparent-dark: rgba(133, 179, 54, 0.15);
  --green-transparent-light: rgba(133, 179, 54, 0.25);
  --inter-font: "Inter", sans-serif;
}

body {
  background-color: var(--blue-dark);
  font-family: var(--inter-font);
}

.web-title {
  font-family: 'Courgette', cursive;
  font-size: 40px;
  text-align: center;
  color: white;
}

.letters-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border: 0.1rem solid white;
  opacity: 25%;
  border-radius: 0.75rem;
  font-weight: 800;
  font-size: 2rem;
  height: 2.6rem;
  width: 2.6rem;
  padding: 0.5rem;
  margin: 2.5px;
  color: white;
}

.filled-letter {
  opacity: 100%;
  animation: 150ms ease-out 0s scaleLetter;
}

.letter-grey {
  transform: rotateY(180deg) scaleX(-1);
  background-color: var(--blue-light);
  border: 0.1rem solid var(--blue-light);
  transition: transform .5s linear, background-color .5s linear,  border .5s linear;
  direction: rtl;
}

.letter-green {
  transform: rotateY(180deg) scaleX(-1);
  border: 0.1rem solid var(--green);
  background-color: var(--green);
  transition: transform .5s linear, background-color .5s linear,  border .5s linear;
  direction: rtl;
}

.letter-yellow {
  transform: rotateY(180deg) scaleX(-1);
  background-color: var(--yellow);
  border: 0.1rem solid var(--yellow);
  transition: transform .5s linear, background-color .5s linear,  border .5s linear;
  direction: rtl;
}

.message-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.3rem;
}

.letter-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-text {
  color: white;
}

.restart-container {
  display: flex;
  justify-content: center;
  align-self: start;
}

.restart-button {
  cursor: pointer;
  background-color: #2563eb;
  color: white;
  border-radius: 10px;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  font-family: var(--inter-font);
  border: 0;
  transition: box-shadow 300ms ease, background-color 1s ease-out;
}

.restart-button:hover {
  box-shadow: 0px 0px 20px 5px #113281;
}

.restart-button:disabled {
  cursor: default;
  background-color: var(--blue-dark);
  color: var(--gray);
  border: 1px solid var(--gray);
  box-shadow: none;
}

@keyframes scaleLetter {
  50% {
    transform: scale(1.1);
  }
}

table{
  color: white;
}

#teclado-contianer{
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.letra{
  padding: 10px;
  border: 1px solid gray;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

.restar-text{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

.restar-text span{
  margin-left: 5px;
  transition: transform 1s ease-in-out;
}

.rotate-icon{
  transform: rotateZ(360deg);
}

.teclado-row{
  margin-top: 10px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 5px;
}

@media only screen and (max-width: 760px) {
  /* Estilos para dispositivos móviles */
  h1 {
    margin: 0;
  }
}